body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  background-color: red;
  margin: 20px;
  padding: 0px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.479);
  border-radius: 2rem;
  box-shadow: 5px 5px 10px black;
}
#container h6 {
  font-size: 1rem;
  color: red;
  text-shadow: 1px 0px 2px black;
  margin: 0px 0px 10px 0px;
}
#screen {
  height: 352px;
  width: 60%;
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(156, 156, 156);
  margin: 0px;
  padding: 0px;
}
.box {
  height: 20px;
  width: 20px;
  margin: 0px;
  padding: 0px;
}
.knobs-div {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.knob {
  height: 100px;
  width: 100px;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  box-shadow: 10px 0px 5px black;
}
.title {
  font-size: 3rem;
  color: gold;
  text-shadow: 5px 0px 2px black;
  text-decoration: black;
  margin: 10px;
}

.black-box {
  background-color: rgb(0, 0, 0);
}
.white-box {
  background-color: rgb(156, 156, 156);
}
